accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
attrs
bcrypt
beautifulsoup4
build
cattrs
certifi
cffi
charset-normalizer
chromadb
click
colorama
colorlog
cryptography
defusedxml
dill
docling
docling-core
docling-ibm-models
docling-parse
docling-slim
durationpy
et_xmlfile

filelock
filetype
flatbuffers
frozenlist
fsspec
googleapis-common-protos
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_resources
inflect
Jinja2
joblib
jsonlines
jsonref
jsonschema
jsonschema-specifications
kubernetes
latex2mathml
lxml
mail-parser
markdown-it-py
marko
MarkupSafe
mcp
mdurl
mmh3
more-itertools
mpire
mpmath
multidict
multiprocess
networkx
numpy
oauthlib
omegaconf
onnxruntime
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pillow
platformdirs
pluggy
polyfactory
propcache
protobuf
psutil

pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pylatexenc
pypdfium2
PyPika
pyproject_hooks

python-docx
python-dotenv
python-multipart
python-pptx
pywin32
PyYAML
rapidocr
referencing
regex
requests
requests-cache
requests-oauthlib
rich
rpds-py
rtree
safetensors
scipy
semchunk
setuptools
shapely
shellingham

soupsieve
sse-starlette
starlette
sympy
tabulate
tokenizers
torch
torchvision
tqdm
transformers
tree-sitter
tree-sitter-c
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typeguard
typer
typing-inspection
typing_extensions
tzdata
url-normalize
urllib3
uvicorn
watchfiles
websocket-client
websockets
xlsxwriter
yarl

ibm-watsonx-ai>=1.5.0
python-dotenv
langflow>=1.9.0
